p.intro {
  font-style: italic;
  color: blue;
  width: 80%;
}

p.author {
  font-family: fantasy;
  color: red;
  width: 50%;
}
.important {
  color: magenta;
  font-family: cursive;
  font-weight: 400;
}
