p.intro {
  font-style: italic;
  color: magenta;
  width: 65%;
}
img.intro {
  width: 250px;
  height: auto;
}
h1.intro {
  font-size: 45px;
  font-family: cursive;
  color: blue;
}
p {
  width: 75%;
}
.important {
  color: magenta;
  font-family: cursive;
  font-weight: 400;
}
